{% extends "ShopBundle:BASE:base.html.twig" %}
{% block subscribe %}<hr>{% endblock %}
{% block title %}{{ app.request.get('brand')|capitalize }}{% endblock %}
{% block section %}{{ app.request.get('brand')|capitalize }}{% endblock %}
{% block mainContent %}
    <div class="w3-row ">




    {% if products is defined and products is not null %}
        {% for product in products %}

            <div class="w3-col  s6 " style="float: left;">
                <div class="w3-container" style="float: left;">
                    <a href="{{ path('product', {'product': product.slug }) }}" style="text-decoration: none">
                        <img src="{{ asset(product.images) }}" width="100%" height="100%"  >
                        <p style="font-weight: 900;font-size: 20px;padding: 10px;text-align: center">{{ product.name|capitalize }}</p>
                    </a>
                </div>

            </div>

        {% endfor %}

        {% else %}
            <div>{% trans %}No products in this category{% endtrans %}</div>
        {% endif %}


        </div>


    {% if brand is defined and brand is not null %}
        <div class="jumbotron">
            <img src="{{ asset(brand.image) }}" width="300px" style="padding: 10px;"><hr>
            <div style="font-size: 16px">{{ brand.description }}</div>
        </div>

    {% endif %}
{% endblock %}